{% extends 'ROLE_ADMIN' in app.user.roles ? 'base2.html.twig' : 'base_users.html.twig' %}

{% block title %}User{% endblock %}
{% block styles %}
    <style>
        #wrapper {
    position: relative;
    background-color: #8F749A;
}
@media (min-width : 900px) {
    #wrapper:before {
        content: '';
        position: fixed; top: 0; left: 0; bottom: 0;
        display: block; width: 50%;

        background-image: url({{ asset ('images/contact.jpg')}});
        background-position: center;
        background-size: cover;
    }
}
@media (max-width : 899px) {}

/*---------------------------------------------------------------------------------------------------------------*/

#nav.static { color: #FFF; }

/*---------------------------------------------------------------------------------------------------------------*/

#footer { position: relative; }

/*---------------------------------------------------------------------------------------------------------------*/

#container {
    position: relative;
    overflow: hidden;
    color: #FFF;
}


@media (min-width : 900px) {
    #container { padding: 200px 150px 60px; }

    #container > .accent-1 { top: 10%; left: 5%; }
    #container > .accent-1 > div {
        height: 500px; width: 500px;
        background-image: url("{{ asset ('images/svg/shape.1.svg')}}");
    }
    #container > .accent-2 { top: 65%; right: 50%; }
    #container > .accent-2 > div {
        height: 500px; width: 500px;
        background-image: url("{{ asset ('images/svg/shape.2.svg')}}");
    }
    #container > .accent-3 { top: 45%; right: 25%; }
    #container > .accent-3 > div {
        height: 500px; width: 500px;
        background-image: url("{{ asset ('images/svg/shape.3.svg')}}");
    }
}
@media (max-width : 899px) {
    #container { padding: 105px 15px 30px; }
    
    #container > .accent-1 { top: 0%; left: 5%; }
    #container > .accent-1 > div {
        height: 500px; width: 500px;
        background-image: url("{{ asset ('images/svg/shape.1.svg')}}");
    }
    #container > .accent-2 { top: 15%; right: 20%; }
    #container > .accent-2 > div {
        height: 250px; width: 250px;
        background-image: url("{{ asset ('images/svg/shape.2.svg')}}");
    }
    #container > .accent-3 { display: none; }
}

/*---------------------------------------------------------------------------------------------------------------*/

#lancer-projet { position: relative; left: calc(50% + 40px);}
#lancer-projet > .content {
    margin-bottom: 35px;
    
    font-size: 18px;
    font-weight: 200;
}
@media (min-width : 900px) { #lancer-projet { width: calc(50% - 40px); } }
@media (max-width : 899px) { #lancer-projet { width: auto; } }

/*---------------------------------------------------------------------------------------------------------------*/

#lancer-projet-form {
    position: relative;
}

#lancer-projet-form > div:not(.spinner):not(.response):not(:first-child) { margin-top: 40px; }

#lancer-projet-form > .field,
#lancer-projet-form > .row,
#lancer-projet-form > .spinner,
#lancer-projet-form > .response { transition: opacity .4s ease-out; }
#lancer-projet-form > .errors,
#lancer-projet-form > .spinner,
#lancer-projet-form > .response { display: none; }

#lancer-projet-form > .errors {
    padding: 20px;
    margin-top: 20px;
    
    border: solid 1px #FFF;
    border-radius: 5px;
}
#lancer-projet-form > .errors > ul { margin: 0; }

#lancer-projet-form > .spinner {
    position: absolute; top: 50%; left: 50%;
    height: 100px; width: 100px;

    background-image: url("https://iforce.aply-projets.link/wp-content/themes/iForce-15-09-2021/resources/images/icons/spinner.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    animation: spinner 1.5s linear 0s infinite;
    pointer-events: none;
}
@keyframes spinner {
    0%   { transform: translate(-50%, -50%) rotate(0deg); }
    50%  { transform: translate(-50%, -50%) rotate(180deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

#lancer-projet-form > .response {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;

    border: solid 1px #FFF;
    border-radius: 3px;

    text-align: center;
}

#lancer-projet-form.sending > .field,
#lancer-projet-form.sending > .row { opacity: 0; }


#lancer-projet-form .field { position: relative; }
label.required:after {
    content: "*";
    margin-left: 5px;
}

#lancer-projet-form > .row:not(#cta-wrapper) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#lancer-projet-form > .row:not(#cta-wrapper) > .field { flex: 0 0 calc(50% - 10px); }

#lancer-projet-form > #cta-wrapper { display: flex; }
@media (min-width : 600px) {
    #lancer-projet-form > #cta-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (max-width : 1300px) and (min-width : 900px),
       (max-width : 599px) {
    #lancer-projet-form > #cta-wrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
    }
}
#lancer-projet-form .text-field {}
label {
    display: block;
    margin-bottom: 10px;
    
    font-size: 13px;
}
input,
textarea {
    display: block; width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    background: none;
    border: solid 1px #FFF;
    border-radius: 5px;
    
    font-family: inherit;
    font-size: inherit;
    font-weight: 200;
    color: #fff;
    
    transition: border-color .2s ease-out;
}
input::placeholder,
textarea::placeholder { color: inherit; }
input:focus,
textarea:focus { border-color: #FADB6C; }
input { height: 44px; }
textarea {
    height: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    resize: none;
}

#lancer-projet-form .file-field,
#lancer-projet-form .checkbox-field { position: relative; }
{# input {
    position: absolute; top: 0; left: 0;
    display: block; height: 0; width: 0;
    opacity: 0;
    pointer-events: none;
} #}
label {
    position: relative;
    display: block;
}

#lancer-projet-form .checkbox-field > label {
    padding-left: 22px;
    margin-top: -10px;
}
#lancer-projet-form .checkbox-field > label:before {
    content: "";
    position: absolute; top: 50%; left: 0; transform: translateY(-50%);
    display: block; height: 7px; width: 7px;
    padding: 3px;

    background-clip: content-box;
    border: solid 1px;
    border-radius: 2px;
}
input:checked + label:before { background-color: #FFF; }
label > a { text-decoration: underline; }

#lancer-projet-form .file-field { max-width: 100%; flex: 0 0 auto !important; }
#lancer-projet-form .file-field > label {
    height: 100%; overflow: hidden;
    padding: 0 60px 0 20px;

    background-color: transparent;
    border: solid 1px #FFF;
    border-radius: 20px;
    
    white-space: nowrap;
    text-overflow: ellipsis;

    line-height: 40px;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    
    transition:
        background-color .4s ease-out,
        color .4s ease-out;
}
#lancer-projet-form .file-field > label:hover {
    background-color: #FFF;
    color: #111;
}
#lancer-projet-form .file-field > label:empty:before { content: "Ajouter un document"; }
#lancer-projet-form .file-field > label:after {
    content: "";
    position: absolute; top: 50%; right: 20px; transform: translateY(-50%);
    display: block; height: 15px; width: 25px;
    
    background-image: url("https://iforce.aply-projets.link/wp-content/themes/iForce-15-09-2021/resources/images/icons/upload.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    transition: filter .4s ease-out;
}
#lancer-projet-form .file-field > label:hover:after { filter: brightness(10%); }

form > .btn {
    background-color:#dc91a6;
    color: #fff;
    line-height: 40px;
    padding: 0px 20px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 21px;
    text-align: center;
    margin-top: 40px;
}
.contact-imfo-box{
    display: none;
}
#user_type1 > div {
    margin-top: 40px;
}
    </style>
{% endblock %}
{% block work %}
{% if 'ROLE_ADMIN' not in app.user.roles %}
<section id="container">
			<div class="accent accent-1" style="transform: translate3d(0px, 13px, 0px);">
				<div></div>
			</div>
			<div class="accent accent-2" style="transform: translate3d(0px, -68px, 0px);">
				<div></div>
			</div>
			<div class="accent accent-3" style="transform: translate3d(0px, -128px, 0px);">
				<div></div>
			</div>
			<section id="lancer-projet">
				<div
					class="content reveal" data-sr-id="0" style="visibility: visible; opacity: 1; transition: opacity 0.8s cubic-bezier(0.5, 0, 0.45, 0.9) 0.3s;">
					<!-- wp:group {"className":"reveal"} -->
					<div
						class="wp-block-group reveal" data-sr-id="2" style="visibility: visible; opacity: 1; transition: opacity 0.8s cubic-bezier(0.5, 0, 0.45, 0.9) 0.3s;">
						<!-- wp:heading {"level":1} -->
						<h1 style="color:#fff">Contacter l'administration</h1>
						<!-- /wp:heading -->

						<!-- wp:paragraph -->
						<p>Voulez-vous contacter l'administareur?</p>
                        <p>Mettez-vous le sujet et le Contenu pour envoyer un email à l'administration</p>
                        
					</div>
					<!-- /wp:group -->

				</div>
				{{ include('default/_form_contact.html.twig') }}
			</section>
		</section>
{# <div class="main">
    <h1>Contacter nous</h1>

    {{ include('default/_form_contact.html.twig') }}
</div> #}

    
{% endif %}
{% endblock %}
